.user {
	height: 200px;
	width: 200px;
	margin: 10px;
	background-color: lightblue;
	color: blue;
	border: 2px solid black;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
}
h2 {
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 0;
	padding: 5px;
	border-radius: 5px 5px 0 0;
}
p {
	padding: 5px 20px 20px 20px;
	color: black;
}
#my_box {
	background-color: white;
	height: 100px;
	width: 150px;
}
p.left {
	color: red;
	padding: 2px 0px 0px 20px;
}